// body {
//  margin: 0;
//  padding: 0;  
// }
// .themesContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 50%;
//   float: left;
//   color: white;
// }
// .descriptionContainer {
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   height: 50%;
//   top: 0%;
//   float: right;
//   color: white;
//   .description {
//     font-size: 15px;
//   }
//   .descriptionInner {
//     font-size: 10px !important;
//     text-transform: none !important;
//   }
// }
.description {
  display: flex;
  flex-direction: row;
  color: white;
  .innerDiv {
    margin-top: 20px;
  }
}
.mainPageHeader {
  display: flex;
  justify-content: center;
  color: white;
}
.innerDescription {
  width: 65%;
  height: 50%;
  margin-left: 40px;
  .descriptionInner {
    font-size: 12px !important;
    text-transform: none !important;
  }
 
}
