.description {
  display: flex;
  flex-direction: row;
  color: white;
  .innerDiv {
    margin-top: 20px;
  }
}
.mainPageHeader {
  display: flex;
  justify-content: center;
  color: white;
}
.innerDescription {
  width: 65%;
  height: 50%;
  margin-left: 40px;
  .descriptionInner {
    font-size: 12px !important;
    text-transform: none !important;
  }
 
}
