.theme {
  color: yellowgreen;
  background-color: black;
  border-color: darkgray;
}
.thread{
  width: 150%;
  
}
.question{
  color: yellowgreen
}

.colon{
  color: yellowgreen;
}

.sideOne{
  color: dodgerblue;
}

.sideTwo{
  color: lightpink
}
