.theme {
  color: yellowgreen;
  background-color: black;
  border-color: darkgray;
  text-decoration: none;
  font-size: 45px;
}
.thread{
  width: 150%;
  
}
.threadInner{
  display: flex;
  flex-direction: row;
}
.globalAll{
  display: flex;
  flex-direction: column;
  font-size: 45px;
  justify-content: space-evenly;
}
.spanInner{
  display: flex;
  flex-direction: row;
}
.question{
  color: yellowgreen
}
.createButton{
  font-size: 45px;
  color: yellowgreen;
  background-color: black;
  border-color: darkgray;
  text-decoration: none;
}
.colon{
  color: yellowgreen;
}

.sideOne{
  color: dodgerblue;
}

.sideTwo{
  color: lightpink
}

.thread{
  text-decoration: none;
}

