.formInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-label1 {
  position: relative;
  outline: none;
  .form-control1 {
  font-size: 1rem;
  color: #f9f9f9;
  background: transparent;
  width: 20%;
  
  padding: 3rem 1.4rem;
  min-width: 25rem;
  
  border-radius: 0.2rem;
  border: 2px solid #7a7a7a56;
  
  transition: border-color 0.2s;
  } 
  .form-control1:focus {
  border-color: white;
  } 
  .labelP1 {
  color: #f9f9f9;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  top: 50px;
  transform: translateY(-85px);
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  } .form-control1:focus + .labelP1,
  .form-control1:not(:placeholder-shown) + .labelP1{
  top: 0;
  font-size: 0.9rem;
  color: white;
  outline: none;
  } .form-control1:not(:focus) + .labelP1 {
  color: #7a7a7a56;
  }
  }

  .form-label2 {
    position: fixed;
    outline: none;
    left: 34%;
    .form-control2 {
    font-size: 1rem;
    color: #f9f9f9;
    background: transparent;
    width: 20%;
    
    padding: 4rem 5rem;
    min-width: 25rem;
    
    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;
    
    transition: border-color 0.2s;
    } 
    .form-control1:focus {
    border-color: white;
    } 
    .labelP2 {
    color: #f9f9f9;
    font-size: 1rem;
    user-select: none;
    position: absolute;
    top: 50px;
    transform: translateY(-85px);
    margin-left: 0.8rem;
    padding: 0 0.4rem;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
    } .form-control2:focus + .labelP2,
    .form-control2:not(:placeholder-shown) + .labelP2{
    top: 0;
    font-size: 0.9rem;
    color: white;
    outline: none;
    } .form-control2:not(:focus) + .labelP2 {
    color: #7a7a7a56;
    }
    }
  
    .createThreadBtn {
      position: fixed;
      bottom: 29%;
      left: 48%;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: 1px solid white;
      padding: 1rem;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
            display: inline-block;
     }
     .createThreadBtn:hover {
      color: #eb3342e5;
      border: 1px solid #eb3342e5;
     }
.colonPic {
  position: relative;
  margin-top: -20px;
}

.questionPic {
  position: relative;
  margin-top: -20px;
}
