.headers {
  width: 100%;
  color:red;  
  font-size: 30px;
}
.debators {
  font-size: 3rem;
}

.inputForm{
display: flex;
  flex-direction: row;
  font-size: 40px;
 }
.comment{
  color: yellowgreen;
}
.signs{
  color: antiquewhite;
}
.challengeButton{
  background-color: black;
  color: yellowgreen;
  border-color: darkgray;
  font-size: 35px;
}
.form {
  display: block;
  width: 100%;
}

.input {
  width: 100%;
}


.like{
  background-color: black;
}
.one{
  color: pink;
}
.two{
  color: dodgerblue;
}
.three{
  color: yellow;
}
.four{
  color: brown;
}
.five{
  color: cornflowerblue
}
.six{
  color: coral;
}
.seven{
  color: darkgreen;
}
.eight{
  color: darkslateblue;
}
.nine{
  color: hotpink;
}
.ten{
  color: thistle;
}
.eleven{
  color: springgreen;
}
.twelve{
  color: khaki;
}
.thirteen{
  color: darkorange;
}
.fourteen{
  color: goldenrod;
}
.fifteen{
  color: orangered;
}
.sixteen{
  color: seagreen;
}
.seventeen{
  color: forestgreen;
}
.eighteen{
  color: deepskyblue;
}
.nineteen{
  color: lawngreen;
}
.twenty{
  color: firebrick;
}
.twentyone{
  color: aqua;
}
.twentytwo{
  color: cadetblue;
}
.twentythree{
  color: cadetblue;
}


