.headers{
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 30px;

}

// .inputForm{
//   display: flex;
//   flex-direction: row;
//   font-size: 40px;
// }
.comment{
  color: yellowgreen;
}
.signs{
  color: antiquewhite;
}
.challengeButton{
  background-color: black;
  color: yellowgreen;
  border-color: darkgray;
  font-size: 35px;



}
.like{
  background-color: black;
}
.one{
  color: pink;
}
.two{
  color: dodgerblue;
}
.three{
  color: rgb(175, 118, 192);
}
.four{
  color: rgb(225, 86, 238);
}
.five{
  color: cornflowerblue
}
.six{
  color: coral;
}
.seven{
  color: lightcoral
}
.eight{
  color: rgb(143, 132, 214);
}
.nine{
  color: hotpink;
}
.ten{
  color: thistle;
}
.eleven{
  color: rgb(85, 145, 240);
}
.twelve{
  color: rgb(191, 149, 246);
}
.thirteen{
  color: rgb(224, 119, 180);
}
.fourteen{
  color: rgb(80, 250, 122);
}
.fifteen{
  color: rgba(55, 255, 228, 0.835);
}
.sixteen{
  color: rgb(46, 223, 122);
}
.seventeen{
  color: rgb(173, 103, 150);
}
.eighteen{
  color: deepskyblue;
}
.nineteen{
  color: rgb(177, 116, 246);
}
.twenty{
  color: rgb(105, 74, 243);
}
.twentyone{
  color: aqua;
}
.twentytwo{
  color: cadetblue;
}
.twentythree{
  color: rgb(136, 72, 255);
}



