.comment{
  color: yellowgreen;
}
.signs{
  color: antiquewhite;
}
.themeButton{
    background-color: #2b2929;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid hotpink;
    color: hotpink;
    outline: none;
    font-size: 25px;
    transition: all;
    transition-duration: 0.3s;
}

.like{
  background-color: transparent;
}
.one{
  color: pink;
}
.two{
  color: dodgerblue;
}
.three{
  color: yellow;
}
.four{
  color: brown;
}
.five{
  color: cornflowerblue
}
.six{
  color: coral;
}
.seven{
  color: darkgreen;
}
.eight{
  color: darkslateblue;
}
.nine{
  color: hotpink;
}
.ten{
  color: thistle;
}
.eleven{
  color: springgreen;
}
.twelve{
  color: khaki;
}
.thirteen{
  color: darkorange;
}
.fourteen{
  color: goldenrod;
}
.fifteen{
  color: orangered;
}
.sixteen{
  color: seagreen;
}
.seventeen{
  color: forestgreen;
}
.eighteen{
  color: deepskyblue;
}
.nineteen{
  color: lawngreen;
}
.twenty{
  color: firebrick;
}
.twentyone{
  color: aqua;
}
.twentytwo{
  color: cadetblue;
}
.twentythree{
  color: cadetblue;
}

