.headers{
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.globalThreadsContainer {
  display: flex;
}
.comment{
  color: yellowgreen;
}
.signs{
  color: antiquewhite;
}
.challengeButton{
background: transparent;
border: 1px solid white;
color: white;
outline: none;
}
.challengeButton:hover{
  background: transparent;
  border: 1px solid rgb(253, 0, 118);
  color:   rgb(253, 0, 118);
  outline: none;
  }

  .randomDiv {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 15%;
  }
.like{
  background-color: black;
}
.one{
  color: pink;
}
.two{
  color: dodgerblue;
}
.three{
  color: yellow;
}
.four{
  color: brown;
}
.five{
  color: cornflowerblue
}
.six{
  color: coral;
}
.seven{
  color: darkgreen;
}
.eight{
  color: darkslateblue;
}
.nine{
  color: hotpink;
}
.ten{
  color: thistle;
}
.eleven{
  color: springgreen;
}
.twelve{
  color: khaki;
}
.thirteen{
  color: darkorange;
}
.fourteen{
  color: goldenrod;
}
.fifteen{
  color: orangered;
}
.sixteen{
  color: seagreen;
}
.seventeen{
  color: forestgreen;
}
.eighteen{
  color: deepskyblue;
}
.nineteen{
  color: lawngreen;
}
.twenty{
  color: firebrick;
}
.twentyone{
  color: aqua;
}
.twentytwo{
  color: cadetblue;
}
.twentythree{
  color: cadetblue;
}


