body {
  margin: 0 auto;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   .form-label {
    position: relative;
    outline: none;
    .form-control {
      font-size: 1rem;
      color: #f9f9f9;
      background: transparent;

      padding: 1rem 1.6rem;
      min-width: 25rem;

      border-radius: 0.2rem;
      border: 2px solid #7a7a7a56;

      transition: border-color 0.2s;
    }  
    .form-control:focus {
      border-color: white;
    } 
    .labelP {
      color: #f9f9f9;
      font-size: 1rem;
      user-select: none;
    
      position: absolute;
      top: 50px;
      transform: translateY(-50px);
    
      margin-left: 0.8rem;
      padding: 0 0.4rem;
     
      transition: top 0.2s, font-size 0.2s, color 0.2s;
    } .form-control:focus + .labelP,
      .form-control:not(:placeholder-shown) + .labelP{
        top: 0;
        font-size: 0.9rem;
        color: white;
        outline: none;
    } .form-control:not(:focus) + .labelP {
      color: #7a7a7a56;
    }
  }
}

.loginBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  .loginBtn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .loginBtn:hover:after {
    width: 100%;
    left: 0;
  }

