body {
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
  background-color: black;
  opacity: 0.8;

  .mainPageStyle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    .neon{
      font-family: 'Arial', cursive;
      font-size:27px;
      -webkit-text-stroke: 1px ;
      color: white;
      position: absolute;
      top: 2%;
      left: 7%;
      transform: translate(-50%, -50%);
      font-weight: 200;
      letter-spacing: 8px;
      text-shadow: 1px 0px 4px white, 2px 0px 4px white, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
    }
    
    .flicker-slow{
      animation: flicker 3s linear infinite;
    }
    
    .flicker-fast{
      animation: flicker 1s linear infinite;
    }
    
    @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
        opacity: .99;
        
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
      }
    }
  }

  .profileStyle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    .profileLinkStyle {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;

      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }

    .profileLinkStyle:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    .profileLinkStyle:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .aboutStyle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;

    .aboutLinkStyle {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;

      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }

    .aboutLinkStyle:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    .aboutLinkStyle:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .registrationStyle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    .regLinkStyle {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;

      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }

    .regLinkStyle:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    .regLinkStyle:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
