.comment{
  color: yellowgreen;
}
.one{
  color: pink;
}
.two{
  color: dodgerblue;
}
.three{
  color: yellow;
}
.four{
  color: brown;
}
.five{
  color: cornflowerblue
}
.six{
  color: coral;
}
.seven{
  color: darkgreen;
}
.eight{
  color: darkslateblue;
}
.nine{
  color: hotpink;
}
.ten{
  color: thistle;
}
.eleven{
  color: springgreen;
}
.twelve{
  color: khaki;
}
.thirteen{
  color: darkorange;
}
